<!DOCTYPE html>
<html>
<head>
    <title>SecureDesk</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

<div class="landing-wrapper">


<div class="hero-card">

    <div class="logo-badge">
        SECUREDESK
    </div>

    <h1 class="hero-title">
        IT Helpdesk and Ticket
        <span>Management Platform</span>
    </h1>

    <div class="divider"></div>

    <p class="hero-subtitle">
        Centralize support requests, track issue resolution,
        and improve service delivery through a modern helpdesk
        management platform.
    </p>

    <div class="buttons">

        <a href="/register" class="btn btn-primary">
            🚀 Get Started
        </a>

        <a href="/login" class="btn btn-secondary">
            Login
        </a>

         <a href="/technician-login" class="btn btn-tech">
        👨‍💻 Technician Login
    </a>

    </div>

    <div class="feature-grid">

        <div class="feature-card">

            <div class="feature-icon">👤</div>

            <h5>EMPLOYEE PORTAL</h5>

            <h3>Raise Support Requests</h3>

            <p>
                Create tickets and track issue
                status in real time.
            </p>

        </div>

        <div class="feature-card">

            <div class="feature-icon">🎫</div>

            <h5>IT SUPPORT TEAM</h5>

            <h3>Manage Ticket Workflow</h3>

            <p>
                Assign, prioritize and resolve
                technical issues efficiently.
            </p>

        </div>

        <div class="feature-card">

            <div class="feature-icon">📊</div>

            <h5>ANALYTICS</h5>

            <h3>Monitor Resolution Metrics</h3>

            <p>
                Track performance and service
                delivery insights across teams.
            </p>

        </div>

    </div>


</div>

</div>
<footer class="footer">

    <h2>SecureDesk</h2>

    <p>Smart IT Service Management Platform</p>

    <p>📧 support@securedesk.com</p>

    <p>📞 +91 9876543210</p>

    <p>© 2026 SecureDesk IT Solutions. All Rights Reserved.</p>

</footer>
</body>

</html>